MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/urja2026?retryWrites=true&w=majority

JWT_SECRET=your_super_secret_jwt_key_change_this

PORT=5001

# Frontend URL (for CORS - update after deploying frontend)
FRONTEND_URL=http://localhost:5173

ADMIN1_email="admin1@urja.com"
ADMIN1_pass=qwerty

ADMIN2_email="admin2@urja.com"
ADMIN2_pass=uiop